.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}
.form{
  display: flex;
    justify-content: center;
    margin-bottom: 32px;
}
.input {
    padding: 4px;
    margin-right: 8px;
}
.button {
 
  width: 64px;
  background-color: rgb(46, 46, 169);
  color: white;
  border: solid 2px black;
  border-radius: 4px;
  cursor: pointer;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 24px;

}
.gallery-link {
  text-decoration: none;
    color: inherit;
}
.gallery-item {
  width: 400px;
  height: 280px;
}
p {
  margin-left: 8px;
 
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}